{% extends 'skeleton.html' %}

{% block title_text %}Hello, World!{% endblock %}

{% block column_content %}
<div id="about_me">
  I'm a self-taught software developer who graduated from the University of California, 
  Berkeley, with a B.A. in Molecular and Cell Biology. I have experience in project
  management, healthcare consulting, education, and neuroendocrinology research. When I'm
  not working or reading, I enjoy making pottery, cooking, traveling, and spending time
  with friends and family.
  <br><br>
  I started programming while working as a clinical consultant at Triage Consulting Group.
  There, I researched and appealed complex clinical insurance denials. Many of my
  responsibilities involved writing SQL queries, transferring data between MS Access databases,
  exporting data to Excel, and generating reports. I taught myself VBA and developed 
  an automated process to transfer hospital data between teams. At that point, I
  learned software's potential and understood how it could impact varied industries.
  <br><br>
  Shortly thereafter, I joined 23andMe as a Research Associate on the Research
  Program Management team. I interfaced with stakeholders in Engineering,
  Product, Marketing, and Finance; streamlined inefficient processes; built metrics dashboards;
  developed technical training programs; supported program managers in
  assessing project and product feasibility. I loved the technical aspects of
  my work so much that I became the primary liaison with the engineering team.
  I learned Python and JavaScript, got promoted, participated in (and won!) a hackathon,
  and built this website. I spent my tenure as a Senior RA working with the product and
  engineering teams to spec, build, and implement internal tools for the program
  management workflow. I love solving high-impact problems, no matter the scale.
  <br><br>
  If you want to get in touch, email me at <a href="mailto:vlane0593@gmail.com">vlane0593@gmail.com</a>
  or <a href="https://www.linkedin.com/in/vanessa-lane/">connect with me on LinkedIn</a>!
</div>
<div class="image">
  <img src="/static/img/vl_headshot.jpg" style="width:350px;max-width:100%;"></img>
</div>
{% endblock %}

{% block full_width %}{% endblock %}
