{% extends 'skeleton.html' %}

{% block header_content %}
    Vanessa Lane
{% endblock %}

{% block body %}
    <!-- <div class="card">
        <h2>About Me</h2>
    </div> -->
    <a href="resume" class="menu_card_link">
        <div class="card menu_card">
            <h2>Resume</h2>
        </div>
    </a>
    <div class="card header">
        <h1>Applications</h1>
    </div>
    <a href="cookbook" class="menu_card_link">
        <div class="card menu_card">
            <h2>Cookbook</h2>
        </div>
    </a>
{% endblock %}