{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Roboto:400,700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    {% endblock %}
</head>

<body>
    {% block contact_buttons %}
        <div class="contact_buttons">
            <a href="https://www.instagram.com/vl.pottery/">
                <img src="{% static 'img/instagram_logo.png' %}" alt="Instagram">
            </a>
            <a href="https://www.linkedin.com/in/vanessa-lane/">
                <img src="{% static 'img/linkedin_logo.png' %}" alt="LinkedIn">
            </a>
            <a href="https://github.com/vanessalane">
                <img src="{% static 'img/github_logo.png' %}" alt="GitHub">
            </a>
            <a href="mailto:vlane0593@gmail.com">
                <img src="{% static 'img/gmail_logo.png' %}" alt="Gmail">
            </a>
        </div>
    {% endblock %}
    {% block navbar %}{% endblock %}
    <div class="main-container">
        {% block header %}
            <div class="card header">
                <h1>{% block header_content %}{% endblock %}</h1>
            </div>
        {% endblock %}
        {% block body %}
            <div class="card">
                {% block title %}
                    <h2 class="no_buffer">{% block title_text %}{% endblock %}</h2>
                    <p class="no_buffer">{% block subtitle %}{% endblock %}</p>
                {% endblock %}
                <p>{% block body_content %}{% endblock %}</p>
            </div> 
        {% endblock %}

        <footer>
            {% block footer %}{% endblock %}
        </footer>
    </div>
</body>
