{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/decimalToFraction.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Roboto:400,700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    {% endblock %}
</head>
<div class="sidebar">
    <h3 class="sidebar_header">Pages</h3>
    <a class="active" href="/">About</a>
    <a href="/resume">Resume</a>
    <a href="/cookbook">Cookbook</a>
    <a href="/vlpottery">Pottery</a>
    <h3 class="sidebar_header contact_info">Get in Touch</h3>
    <a href="mailto:vlane0593@gmail.com">Gmail</a>
    <a href="https://www.linkedin.com/in/vanessa-lane/">LinkedIn</a>
    <a href="https://github.com/vanessalane">GitHub</a>
</div>
<div class="content">
    <body>
        {% block header %}
            <header>
                <h1>{% block header_content %}Vanessa Lane{% endblock %}</h1>
            </header>
            <hr>
        {% endblock %}
        {% block body %}
          <main>
              {% block title %}
                  <h2 class="no_buffer">{% block title_text %}{% endblock %}</h2>
                  <p class="no_buffer">{% block subtitle_text %}{% endblock %}</p>
              {% endblock %}
              {% block columns %}
                  <div id="flex_container">
                    {% block column_content %}{% endblock %}
                  </div>
              {% endblock %}
              {% block full_width %}
              <div class="flex_container">
                  <div class="full_width">
                      {% block full_width_content %}{% endblock %}
                  </div>
              </div>
              {% endblock %}
          </main>
        {% endblock %}
        <hr>
        <footer>
            <div class="footer">
            {% block footer_content %}
            {% endblock %}
            </div>
        </footer>
        {% block script %}{% endblock %}
    </body>
</div>
