{% extends 'skeleton.html' %}

{% block navbar %}
<div class="dropdown">
    <button class="dropdown_button">Menu</button>
    <div class="dropdown_content">
        <a href="/">Home</a>
        <a href="/cookbook">Table of Contents</a>
        <a href="/admin/cookbook/recipe/add">Add a Recipe</a>
        {% if recipe %}
        <a href="/admin/cookbook/recipe/{{ recipe.id }}/change">Edit {{ recipe.title }} Recipe</a>
        {% endif %}
    </div>
</div>
{% endblock %}


{% block header %}
<a href="/cookbook">
    <div class="card header">
        <h1>Vanessa's Cookbook</h1>
    </div>
</a>
{% endblock %}
