{% extends 'base.html' %}

{% if recipe %}
    {% block title_text %}{{ recipe.title }}{% endblock %}

    {% block subtitle %}
        <br>
        Prep time: {{ recipe.prep_time }} {{ recipe.time_units }}
        <br>
        Cook time: {{ recipe.cook_time }} {{ recipe.time_units }}
        <br>
        Yield: {{ recipe.yield_count }} {{ recipe.yield_units }}
    {% endblock %}

    {% block body_content %}
        {% if image %}
            <div class="image">
                <img src={{image.url}} alt={{image.alt}}>
            </div>
        {% endif %}
        <hr>
        {% if ingredients %}
        <div class="row">
            <div class="column">
                <h3 class="no_buffer">Ingredients</h3>
                <p>
                {% for ingredient in ingredients %}
                    <input type="checkbox">{{ ingredient.lower }}</input>
                    <br>
                {% endfor %}
                </p>
            </div>
            {% endif %}
            <div class="column">
                <h3 class="no_buffer">Instructions</h3>
                <p>{{ recipe.instructions|linebreaks }}</p>
            </div>
        </div>
        <hr>
        <p>Date Published: {{ recipe.pub_date }}</p>
        <p>Last Modified: {{ recipe.mod_date }}</p>
        <a href="{{ recipe.source }}" style="font-size:12px">Source</a>
    {% endblock %}
{% endif %}

{% block footer %}
    
{% endblock %}