{% extends 'base.html' %}

{% if recipe %}
    {% block title %}{{ recipe.title }}{% endblock %}

    {% block subtitle %}
        Prep time: {{ recipe.prep_time }} {{ recipe.time_units }}
        <br>
        Cook time: {{ recipe.cook_time }} {{ recipe.time_units }}
        <br>
        Yield: {{ recipe.yield_count }} {{ recipe.yield_units }}
    {% endblock %}

    {% block body_content %}
        {% if image %}
            <div class="image">
                <img src={{image.url}} alt={{image.alt}}>
            </div>
        {% endif %}
        {% if ingredients %}
            <div class="bottom-padding">
                <h3 class="no_buffer">Ingredients</h3>
                <p>
                {% for ingredient in ingredients %}
                    <input type="checkbox">{{ ingredient }}</input>
                {% endfor %}
                </p>
            </div>
        {% endif %}
        <h3>Instructions</h2>
        <p>{{ recipe.instructions|linebreaks }}</p>
    {% endblock %}
{% endif %}

{% block footer %}
    Date Published: {{ recipe.pub_date }}
{% endblock %}