html {
  font-family: 'Roboto', sans-serif;
  background-color:#F7F9FA;
  color: #6B6B6B;
  margin: 8px;
}

a h2 {
  text-decoration: none;
}
  
a {
  color: #6B6B6B;
  font-size:14px;
}

a:hover {
  color: #6B6B6B;
  font-weight: bold;
}

footer {
  font-size:12px;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  color: #336E7B;
}

h1 {
  font-size:40px;
  text-align: center;
  font-family: 'Playfair Display', serif;  
  color: #FFF;
  font-weight:900;
}

h2 {
  font-size: 32px;
  font-weight:700;
}
  
h3 {
  font-size: 24px;
  font-weight:400;
}

.bottom_buffer {
  margin-bottom:2em;
}

.no_buffer {
  margin-top: 0;
}

.top_buffer {
  margin-top:2em;
}

.card {
  box-shadow: 0 4px 4px 0 #E3E5E6;
  padding: 2em 2em 2em 2em;
  margin: 1em;
  font-size:14px;
  color: #6B6B6B;
  background-color:#FFF;
  border-radius: 4px;
}

.header {
  box-shadow: 0 1em 1em 0 #E3E5E6;
  background-color:#6D8891;
}