<div class="recipe">
    <div class="ingredients">
        <h3 class="no_buffer">Ingredients</h3>
        {% for i in ingredients %}
            <ul>
                <li id="{{ i.name.lower }}" name="{{ i.name.lower }}">
                  {{ i.quantity }} {{ i.unit }} {{ i.name.lower }}
                  {% if i.optional %}
                    (optional)
                  {% endif %}
                </li>
            <ul>
        {% endfor %}
    </div>
</div>

<div class="instructions">
    <h3 class="no_buffer">Instructions</h3>
    <p>{{ recipe.instructions|linebreaks }}</p>
</div>
