html {
  font-family: 'Roboto', sans-serif;
  background-color:#FCFCFC;
  color: #534F54;
  margin:8px 32px;
}

a h2 {
  text-decoration: none;
}
  
a,button {
  color: #006060;
  text-decoration: none;
}

a:hover,button:hover {
  color: #034148;
  font-weight: bold;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight:700;
  color: #FFF;
}

h2 {
  color: #923026;
}
  
h3 {
  color: #2E343B;
}

hr {
  border: 1px solid #F2F5F7;
}

img {
  max-width: 50px;
  max-height: 40px;
}

li a {
  color: #534F54;
}

p {
  font-size:13px;
}

.bottom_buffer {
  margin-bottom:2em;
}

.no_buffer {
  margin:0;
}

.top_buffer {
  margin-top:2em;
}

.card {
  box-shadow: 0 1em 1em 0 #DBDBDB;
  padding: 24px;
  margin: 16px;
  color: #6B6B6B;
  background-color:#FFF;
  border-radius: 4px;
}

.contact_buttons {
  text-align: right;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown_button {
  padding: 1em;
  color: #6B6B6B;
  box-shadow: 0px 1em 2em 0px #DBDBDB;
  border-radius: 2px;
  margin-left: 1em;
  border-style: none;
  font-size:13px;
}

.dropdown_content {
  display: none;
  box-shadow: 0px 1em 1em 0px;
  border-radius: 2px;
  margin-left: 1em;
  position: absolute;
  background-color: #FFF;
  min-width: 160px;
  z-index: 1;
}

.dropdown_content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size:13px;
}

.dropdown_content a:hover {
  background-color: #EDEFF0
}

.dropdown:hover .dropdown_content {
  display: block;
}

.header {
  box-shadow: 0 1em 1em 0 #DBDBDB;
  background-color:#6D8891;
  text-align: center;
  color: #FFF;
  border-radius: 4px;
}

.menu_card {
  text-align: center;
}

.menu_card:hover {
  box-shadow: 0em 1em 1em 0em #ADADAD;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}